<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE99A3DA1CA91F270070C9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE99A3F61CA91F280070C9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE99A4011CA91F280070C9FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
